.App{
  background-color: maroon;
  min-height: 120vh;
}

.navbar-brand{
  font-size: x-large;
}

.navbar{
  min-height: 130px;
}

nav{
  min-height: 13vh;
  font-size: larger;
}

.nav-item{
  margin-left: 20px;
  margin-right: 20px;
}

.card{
  margin: 30px;
  min-height: 30vh;
}

.card-text{
  font-size: larger;
}